// brand
$primary-color: #252bbd;
$secondary-color: #d2d4f1;

// typography colors
$white: #fefefe;
$lightgray: #e2e2e2;
$gray: #a8a8b0;
$darkgray: #76767d;
$charcoal: #202130;
$black: #444;

// expressive colors
$inform-color: #8d40ce;
$condone-color: #7fbd4f;
$warn-color: #ff7d0d;
$attention-color: #ff1539;
