
$alpha: 3.25rem;
$beta: 2.5rem;
$gamma: 2rem;
$delta: 1.5rem;
$epsilon: 1.25rem;
$zeta: 1rem;
$eta: 0.895rem;
$theta: 0.75rem;

$line-height: $delta;

$serif: 'Roboto Slab';
$sans-serif: 'Roboto';
$monospace: 'Source Code Pro';
