.btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: $zeta;
  line-height: $zeta;
  margin: 0;
  padding: 16px 24px;
  vertical-align: middle;
}

.btn-default {
  background-color: $white;
  border-color: $gray;
  color: $gray;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: $white;
  border-color: $primary-color;
  color: $primary-color;
}

.btn-attention {
  background-color: $attention-color;
  border-color: $attention-color;
  color: $white;
}

.btn-attention:active,
.btn-attention:focus,
.btn-attention:hover {
  background-color: $white;
  border-color: $attention-color;
  color: $attention-color;
}

.btn-inform {
  background-color: $inform-color;
  border-color: $inform-color;
  color: $white;
}

.btn-inform:active,
.btn-inform:focus,
.btn-inform:hover {
  background-color: $white;
  border-color: $inform-color;
  color: $inform-color;
}

.btn-warn {
  background-color: $warn-color;
  border-color: $warn-color;
  color: $white;
}

.btn-warn:active,
.btn-warn:focus,
.btn-warn:hover {
  background-color: $white;
  border-color: $warn-color;
  color: $warn-color;
}

.btn-condone {
  background-color: $condone-color;
  border-color: $condone-color;
  color: $white;
}

.btn-condone:active,
.btn-condone:focus,
.btn-condone:hover {
  background-color: $white;
  border-color: $condone-color;
  color: $condone-color;
}

.btn-neutral {
  background-color: $gray;
  border-color: $gray;
  color: $white;
}

.btn-neutral:active,
.btn-neutral:focus,
.btn-neutral:hover {
  border-color: $charcoal;
  background-color: $charcoal;
  color: $white;
}

.btn-border {
  border-width: $border-width;
  border-style: $border-style;
  padding: 15px 23px;
}

.btn-rounded {
  border-radius: $border-radius;
}

.btn-top-rounded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.btn-bottom-rounded {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-sm {
  font-size: $eta;
  padding: 8px 12px;
}

.btn-sm.btn-border {
  padding: 7px 11px;
}

.btn-lg {
  font-size: $epsilon;
  padding: 20px 32px;
}

.btn-lg.btn-border {
  padding: 19px 31px;
}

.btn-xl {
  font-size: $delta;
  padding: 24px 36px;
}

.btn-xl.btn-border {
  padding: 23px 35px;
}

.btn-group {
  border-color: $gray;
  display: inline-block;
  font-size: 0;
  padding: 0;
  white-space: nowrap;

  .btn:active,
  .btn:focus,
  .btn:hover {
    background-color: $gray;
  }

  .btn-border {
    border-color: transparent;
    border-width: $border-width;
    border-radius: 0;
  }

  .active {
    background-color: $gray;
    color: $charcoal;
    font-weight: 500;
  }

  .active:active,
  .active:focus,
  .active:hover {
    color: $white;
  }
}
